.hero {
    background-image: url("./../../../public/media/marlon-brando-the-godfather-movie-poster-prints.jpeg");
    background-color: black;
    background-size:contain ;
    background-repeat: no-repeat;
    height: 500px;
    .hero__image {
        background-color: #1119;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-evenly;
        h1 {
            color: #fff
        }
    }
}