.srchBar {
    :focus-visible {
        outline: none
    }
    input {
        border: none;
        height: 40px;
        width: 300px;
        padding-left: 10px;
        background-color: rgb(233, 233, 233);
        border-radius: 100px;
        text-align: center;
        font-size: 1em;
      }
      ::placeholder {
        text-align: left;
      }
}